<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="layout" content="main"/>
        <title>Document</title>
    </head>

    <body>
    <h1>Bem vindo a melhor lojinha do mundo</h1>

    <a href="${g.createLink(action: 'index' , controller: 'catalogo')}">
        <button type="button">Catalogo</button>
    </a>
    <a href="/login/auth">Login</a>
    <a href="/logout">Deslogar</a>
    
    </body>
</html>